{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
    <center>
    <h2>Login form</h2>
    
    <form method="post">
     {% csrf_token %}
     {{form}}
     <button type="submit">Login</button>
     <a href="{% url 'regi' %}">register</a>

    </form>
    </center>
    {% endblock %}
</body>
</html>